<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard <small>Statistics Overview</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>
    </div>
</div>

<div class="row" ng-show="login.loginError">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-exclamation-circle"></i>  <strong>Login Error:</strong> {{login.loginError}}
        </div>
    </div>
</div>

<!-- /.row -->

<div class="row">
    <div class="col-lg-4"></div>

    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" type="text" id="username" placeholder="Enter Username" ng-model="login.username" required/>
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class="form-control" type="password" id="password" placeholder="Enter Password" ng-model="login.password" required/>
        </div>
        <input type="hidden" id="random" ng-model="login.random" ng-init="login.random=<%- random %>" />

        <div class="form-group">
            <button ng-click="login.login()" type="button" class="btn btn-primary">Login <span
                        class="glyphicon glyphicon-log-in"></span></button>
            <button ng-click="login.forgotPassword()" type="button" class="btn btn-default">Forgot Password <span
                        class="glyphicon glyphicon-question-sign"></span></button>
        </div>
    </div>

    <div class="col-lg-4"></div>
</div>
<!-- /.row -->
