<form class="well form-horizontal" id="contact_form">
    <fieldset>

        <!-- Form Name -->
        <legend>Neighbour Details <span class="close" ng-click="userDetails.cancel()">&times;</span></legend>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-3 control-label">Name</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input placeholder="Neighbour name" class="form-control" type="text"
                           ng-model="userDetails.user.name">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-3 control-label">Username</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input placeholder="Username" class="form-control" type="text"
                           ng-model="userDetails.user.username">
                </div>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-3 control-label">Password</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input placeholder="Enter new password" class="form-control" type="password"
                           ng-model="userDetails.rawPassword">
                </div>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-3 control-label">E-Mail</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input name="email" placeholder="E-Mail Address" class="form-control" type="text"
                           ng-model="userDetails.user.email">
                </div>
            </div>
        </div>


        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-3 control-label">Phone #</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input placeholder="(845)555-1212" class="form-control" type="text"
                           ng-model="userDetails.user.phone">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-3 control-label">Apartment</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input class="form-control" type="number"
                           ng-model="userDetails.user.apartment">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div ng-show="userDetails.main.myUser.isAdmin && userDetails.main.myUser._id !== userDetails.user._id" class="form-group">
            <label class="col-md-3 control-label">Admin?</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-king"></i></span>
                    <input name="isAdmin" class="form-control" type="checkbox"
                           ng-model="userDetails.user.isAdmin">
                </div>
            </div>
        </div>

        <div ng-show="userDetails.main.myUser.isAdmin && userDetails.main.myUser._id !== userDetails.user._id" class="form-group">
            <label class="col-md-3 control-label">Active?</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-check"></i></span>
                    <input class="form-control" type="checkbox"
                           ng-model="userDetails.user.isActive">
                </div>
            </div>
        </div>

        <!-- <Button> -->
        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-7">
                <button ng-click="userDetails.ok()" type="button" class="btn btn-warning">Save <span
                        class="glyphicon glyphicon-send"></span></button>
            </div>
        </div>

    </fieldset>
</form>

