<form class="well form-horizontal" id="contact_form">
    <fieldset>

        <!-- Form Name -->
        <legend>Neighbour Details <span class="close" ng-click="userDetails.cancel()">&times;</span></legend>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-3 control-label">First Name</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="firstName" placeholder="First Name" class="form-control" type="text"
                           ng-model="userDetails.user.name">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-3 control-label">Last Name</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="lastName" placeholder="Last Name" class="form-control" type="text"
                           ng-model="customer.lastName">
                </div>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-3 control-label">E-Mail</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input name="email" placeholder="E-Mail Address" class="form-control" type="text"
                           ng-model="customer.mail">
                </div>
            </div>
        </div>


        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-3 control-label">Phone #</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input name="phone" placeholder="(845)555-1212" class="form-control" type="text"
                           ng-model="customer.phone">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-3 control-label">Address</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input name="address" placeholder="Address" class="form-control" type="text"
                           ng-model="customer.adress">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-3 control-label">State</label>
            <div class="col-md-7 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input name="state" placeholder="state" class="form-control" type="text"
                           ng-model="customer.state">
                </div>
            </div>
        </div>

        <!-- Select Basic -->

        <div class="form-group">
            <label class="col-md-3 control-label">City</label>
            <div class="col-md-7 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select name="city" class="form-control selectpicker" ng-model="customer.city">
                        <option value=" ">Please select your city</option>
                        <option>Ashdod</option>
                        <option>Ashkelon</option>
                        <option>Bat Yam</option>
                        <option>Beersheva</option>
                        <option>Bnei Brak</option>
                        <option>Dimona</option>
                        <option>Eilat</option>
                        <option>Hadera</option>
                        <option>Haifa</option>
                        <option>Jerusalem</option>
                        <option>Netanya</option>
                        <option>Ofakim</option>
                        <option>Or Yehuda</option>
                        <option>Petah Tikva</option>
                        <option>Ra'anana</option>
                        <option>Ramat Gan</option>
                        <option> Ramat HaSharon</option>
                        <option>Rehovot</option>
                        <option>Rishon LeZion</option>
                        <option>Rosh HaAyin</option>
                        <option>Tel Aviv</option>
                        <option> Tiberias</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Success message -->
        <div class="alert alert-success" role="alert" id="success_message">Success <i
                class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you
            shortly.
        </div>

        <!-- <Button> -->
        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-7">
                <button ng-click="userDetails.ok()" type="button" class="btn btn-warning">Add <span
                        class="glyphicon glyphicon-send"></span></button>
            </div>
        </div>

    </fieldset>
</form>

