<div class="row" ng-show="users.error">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" ng-click="users.error=null" aria-hidden="true">&times;</button>
            <i class="fa fa-exclamation-circle"></i> <strong>Error:</strong> {{users.error}}
        </div>
    </div>
</div>

<div class="row" ng-show="users.usersList">
    <div class="panel panel-default">
        <div class="panel-heading">Neighbours</div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Apartment</th>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Admin?</th>
                <th ng-show="main.myUser.isAdmin">Blocked?</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tr ng-repeat="user in users.usersList | filter: (!main.myUser.isAdmin ? {isBlocked:false} : '') | orderBy:'apartment'">
                <td>{{user.apartment}}</td>
                <td><a href="javascript:void(0)">{{user.name}}</a></td>
                <td>{{user.email}}</td>
                <td>{{user.username}}</td>
                <td><span ng-attr-class="{{user.isAdmin && 'glyphicon glyphicon-ok'}}"></span></td>
                <td ng-show="main.myUser.isAdmin"><span ng-attr-class="{{user.isBlocked && 'glyphicon glyphicon-ok'}}"></span></td>
                <td>
                    <button type="button" class="btn btn-primary" ng-hide="!main.myUser.isAdmin && main.myUser._id !== user._id" ng-click="users.editUser(user)">Edit</button>
                    <button type="button" class="btn btn-primary" ng-hide="!main.myUser.isAdmin || main.myUser._id === user._id" ng-click="users.deleteUser(user)">Delete</button>
                </td>
            </tr>
        </table>
    </div>

    <button ng-show="main.myUser.isAdmin" ng-click="users.addUser()" type="button" class="btn btn-primary">Add User <span
            class="glyphicon glyphicon-plus"></span></button>
</div>
